run = "npm start"
hidden = [".config", "node_modules", "package-lock.json"]
[nix]
channel = "stable-23_11"

[env]
PUPPETEER_EXECUTABLE_PATH = "/nix/store/$(ls /nix/store | grep chromium | head -1)/bin/chromium"